


<ng-container *ngIf="viewModel">
  <div class="form-control w-full mb-2">
    <app-field-label [viewModel]="viewModel"></app-field-label>
    <input type="file"
      class="file-input file-input-bordered w-full max-w-xs"
      (change)="onFileChange($event)"
      [required]="viewModel.required"
      [name]="viewModel.name"
      [class.border-error]="!(viewModel.isValid$ |async) && viewModel.hasExplicitValidation"
      [readonly]="viewModel.readonly"
      [disabled]="viewModel.disabled"
    />
    <app-field-errors [viewModel]="viewModel"></app-field-errors>
  </div>
</ng-container>
